.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-list .benefits-list__itemitem + .benefits-list__itemitem {
  margin-left: 30px;
}

.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--staff-bcgcolor);
  height: 120px;
  margin-bottom: 30px;
}

.benefits-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-subtitle {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
  color: var(--text-color);
}
