:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --text-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bcgcolor: #2f303a;
  --staff-bcgcolor: #f5f4fa;
  --contact-footer: #ffffff99;
  --hover-focus-button: #188ce8;
  --icon-color: #afb1b8;
}
