.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bcgcolor);
}

.contact {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  margin-right: 70px;
}

.list-address .item + .item {
  margin-top: 9px;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}

.text-info {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;

  .page-footer &:hover,
  .page-footer &:focus {
    color: var(--accent-color);
  }
}

.info {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;

  &:last-child {
    margin-bottom: 0px;
  }
}

// .info:last-child {
//   margin-bottom: 0px;
// }

// .page-footer .text-info:hover,
// .page-footer .text-info:focus {
//   color: var(--accent-color);
// }

.social-network > .text {
  /* margin-right: 93px; */
  text-transform: uppercase;

  line-height: 1.14;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.network-list {
  display: flex;
}

.network-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.it-list {
  margin-right: 93px;
}
// .network-link:hover,
// .network-link:focus {
//   background-color: var(--accent-color);
// }

.network-item + .network-item {
  margin-left: 10px;
}

.mailing {
  width: 570px;
  height: 86px;
}

.mailing-header {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--text-white-color);
}

.mailing-form {
  display: flex;
  text-align: center;
  align-items: center;
}

.mailing-input {
  display: flex;
  width: 358px;
  height: 50px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 0px 0px 0px 16px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

// .mailing-input:hover,
// .mailing-input:focus {
//   border-color: var(--accent-color);
// }

.mailing-button {
  min-width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  border-color: transparent;

  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--text-white-color);
  cursor: pointer;
}

.button-content {
  display: flex;
  align-items: center;
}

.mail-send {
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
}
